<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for modern Android (API 30+) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Permissions for older Android (Below API 33) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptaFile">
        <activity
            android:name=".ui.explorer.FileExplorerActivity"
            android:label="File Explorer"
            android:theme="@style/Theme.CryptaFile" />

        <activity
            android:name=".ui.viewer.SecureViewerActivity"
            android:label="Viewer"
            android:theme="@style/Theme.CryptaFile" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="Settings"
            android:theme="@style/Theme.CryptaFile" />

        <activity
            android:name=".ui.settings.TrustManagementActivity"
            android:label="Trust Management"
            android:theme="@style/Theme.CryptaFile" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity-alias
            android:name=".MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityCalculator"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_calculator_launcher"
            android:label="Calculator"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>